<div class="container-fluid">

   <div class="row">
      <div class="col-md-10 col-md-offset-1">

         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">Panel primary</h3>
            </div>
            <div class="panel-body">
               <!-- Form Buscar -->
               <form class="form-horizontal">
                  <div class="form-group">
                     <label for="select" class="col-lg-2 control-label">Tag</label>
                     <div class="col-lg-10">
                        <select class="form-control" id="select1" name="tag" ng-model="tag" ng-options="o as o for o in tags"></select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="tagValue" class="col-lg-2 control-label">Texto</label>
                     <div class="col-lg-10">
                        <input type="text" name="tagValue" ng-model="tagValue" ng-keypress="onKeyEnter($event)" class="form-control" id="Text1">
                     </div>
                  </div>
                  <div class="clearfix hidden-sm-up"></div>
                  <div class="col col-lg-offset-2">
                     <button type="submit" class="btn btn-primary btn-lg" ng-click="search()">Buscar</button>
                  </div>
               </form>
            </div>
            <div class="panel-body">
               <!-- Search results -->
               <div class="{{ datos.length >0 ? 'show' : 'hidden'}}">
                  <table class="table table-striped table-hover">
                     <thead>
                        <tr>
                           <th>
                              <input type="checkbox" ng-model="grid.selectAll" ng-change="onSelectAll(grid.selectAll)" /></th>
                           <th>Artist</th>
                           <th>Title</th>
                           <th>File</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="row in datos" class="{{ row.selected ? 'warning' : '' }}">
                           <td>
                              <input type="checkbox" ng-model="row.selected" />
                           </td>
                           <td>{{row.artist}}</td>
                           <td>{{row.title}}</td>
                           <td>{{row.file}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <a class="btn btn-success" ng-click="addSelectedItemsToPlaylist()">Add to playlist</a>
               </div>
            </div>
         </div>

      </div>
   </div>
   <!--   <div class="row">
      <div class="col">
         <div class="page-header"></div>
      </div>
   </div>-->
   <div class="row">
      <div class="col-md-10 col-md-offset-1">

         <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">Nueva Playlist</div>
            <div class="panel-body">
               <p>
                  <h3><strong>Card ID: </strong><input type="text" name="rfidTagInput" ng-model="rfid" class="form-control"></h3>
               </p>

               <div class="row">
                  <div class=" col-md-6 col-md-2">
                     <a class="btn btn-default" ng-click="player.get('rfid')">Read card</a>
                  </div>
                  <div class=" col-md-6 col-md-2">
                     <a class="btn btn-default {{ playlist.length >0 ? 'show' : 'hidden'}}" ng-click="emptyPlaylist()">Reset</a>
                  </div>
                  <div class=" col-md-6 col-md-2"></div>
                  <div class=" col-md-6 col-md-2"></div>
                  <div class="col-md-6 col-md-2">
                     <a class="btn btn-success {{ playlist.length >0 ? 'show' : 'hidden'}}" ng-click="savePlaylistToCard()">Save Playlist!</a>
                  </div>
                  <div class=" col-md-6 col-md-2"></div>
               </div>
            </div>

            <!-- Table -->
            <div class="{{ playlist.length >0 ? 'show' : 'hidden'}}">
               
               <!--<div class="row">
                  <div class="col-"></div>
               </div>-->
               <table class="table table-striped table-hover" id="tablePlaylist">
                  <thead>
                     <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>File</th>
                        <th>delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in playlist">
                        <td>{{item.artist}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.file}}</td>
                        <td>
                           <button type="button" class="close" aria-label="Close" ng-click="deleteFomPlaylist(item)"><span aria-hidden="true">&times;</span></button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

      </div>
   </div>


</div>
